.container {
    max-width: 1400px;
    margin: 0 auto;

}
header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.8)), url("../images/marc-2.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        filter: contrast(120%);
        text-align: center;
        color:white;
    }
